<div class="list-group">
  <a href="#" class="list-group-item disabled">
    <strong class="text-primary">Resources</strong>
  </a>

  <a href="http://jsonplaceholder.typicode.com" target="_blank" class="list-group-item">
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> JSONPlaceholder
  </a>

  <a href="https://code.angularjs.org/1.4.9/docs/api/ng/service/$http" target="_blank" class="list-group-item">
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> $http docs
  </a>

  <a href="https://code.angularjs.org/1.4.9/docs/api/ngResource" target="_blank" class="list-group-item">
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> ngResource docs
  </a>

  <a href="#/posts/{{ post.id }}" class="list-group-item">
    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> Posts App
  </a>
</div>
